# macOS files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Node.js files
node_modules/
npm-debug.log*

# Composer files
/vendor/
composer.lock

# Other files
*.log
*.pot
*.potx
*.swp
*.tmp
*.zip

.idea