/*----------------------------------------------------------------- */
/* ADMIN
/*----------------------------------------------------------------- */

/* GENERAL
----------------------------------------- */
.klen-admin
{
	display: grid;

	gap: 30px;
	grid-template-columns: auto 27%;
}

.klen-input
{
	width: 260px;
}

.klen-input[disabled]
{
	cursor: not-allowed;

	color: #2c3338;
	background: rgba(255,255,255,0);
}

.klen-label_required
{
	color: rgb(197, 48, 48);
}

.klen-admin__shortcode
{
	margin-top: 32px;
	padding-top: 16px;

	border-top: 1px solid #c3c4c7;
}

@media screen and (max-width: 980px)
{
	.klen-admin
	{
		grid-template-columns: 1fr;
	}
}

/* ASIDE
----------------------------------------- */
.klen-admin__aside
{
	padding: 62px 30px 0 0;
}

.klen-admin__aside-wrapper
{
	font-size: 13px;
	line-height: 1.4;

	position: relative;

	padding: 15px;

	border: 1px solid #c3c4c7;
	background: #fff;
	box-shadow: 0 1px 1px rgba(0,0,0,0.04);
}

/* LABELS
----------------------------------------- */
.klen-input_labels
{
	width: 360px;
}

.klen-input_labels-desc
{
	height: 160px;
}

/* ICONS
----------------------------------------- */
.icon
{
	display: inline-block;

	vertical-align: middle;
}

.icon_success
{
	width: 24px;
	height: 24px;
	margin: -3px 0 0 5px;

	background-image: url('data:image/svg+xml,%3Csvg viewBox=\'0 0 24 24\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath d=\'M12 1a11 11 0 1 0 11 11A11 11 0 0 0 12 1Zm5.707 8.707-7 7a1 1 0 0 1-1.414 0l-3-3a1 1 0 0 1 1.414-1.414L10 14.586l6.293-6.293a1 1 0 0 1 1.414 1.414Z\' style=\'fill:%2368d391\'/%3E%3C/svg%3E');
}
