/*----------------------------------------------------------------- */
/* ADMIN
/*----------------------------------------------------------------- */

.klen-admin
{
	display: grid;

	gap: 30px;
	grid-template-columns: 3fr 1fr;
}

.klen-admin__aside
{
	padding-top: 43px;
}

@media screen and (max-width: 980px)
{
	.klen-admin
	{
		grid-template-columns: 1fr;
	}
}
